header {
border-style: 2px solid black;
border-top: 2px solid black;
border-bottom: 2px solid black;
border-right: 10px solid red;
font-family: 'Times New Roman', Times, serif;
text-align: center;
}

aside {
display: block;
padding-right: 10px;
text-align: right;
float: right;
border-right: 10px solid red;
}

aside::first-line {
font-weight: bold;
} 

h1 {
display: inline-block;
text-size-adjust: 12px;
font-family: 'Times New Roman', Times, serif;
text-align: left;
clear: left;
margin-top: 20px;
}

h2 {
text-size-adjust: 5px;
font-family: 'Times New Roman', Times, serif;
font-style: italic;
text-align: center;
}

body{
background-image: url(WidgetCoLogo.gif);
background-repeat: no-repeat;
background-position: center center;
background-size: 50px contain;
}

article{
text-align: justify;
margin-left: 70px;
margin-right: 70px;
margin-top: 70px;
}

Section{
text-align: justify center;
padding: 5px 5px 5px 5px;
border-left: 25px solid green;
border-top: 2px solid green;
border-right: 2px solid green;
border-bottom: 2px solid green;
background-color: beige;
}

footer {
margin-top: 15px;
border-top: 2px solid lightgray;
text-align: right;
font-style: italic;
font-family: 'Times New Roman', Times, serif;
color: lightgray;
}
